*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
}

@font-face{
    font-family: 'Google Sans';
    src: url('../public/assets/Fonts/Google-sans/GoogleSans-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --color-1: #005889;
    --color-2: #0080a0;
    
    --white: #FFFFFF;

    --text: #777777;

    --t-200ms-linear: all 200ms linear;
}

body{
    background: var(--body);
}

button{
    cursor: pointer;
    border: 0;
    outline: 0;
}

.d-flex{
    display: flex;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.d-flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-15{
    gap: 15px;
}

.gap-20{
    gap: 20px;
}
